# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment files
.env

# MCP files
fastagent/config/config_mcp.json

# Logs
logs/

# Embedding cache
.fastagent/
embedding_cache/
tool_quality/

# Config files
fastagent/config/config_dev.json

# LLM keys
fastagent/llm/remote_client/

# Local server temp files
fastagent/local_server/temp/

examples/